<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetBlock</title>
    <link rel="stylesheet" type="text/css" href="./css/right.css"/>
    <link rel="stylesheet" type="text/css" href="./css/waifu.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h2>区块hash:{{.Block.Hash}}</h2>
<h2>确认数:{{.Block.Confirmations}}</h2>
<h2>区块大小:{{.Block.Size}}</h2>
<h2>区块高度:{{.Block.Height}}</h2>
<h2>区块版本:{{.Block.Version}}</h2>
<h2>默克尔树根:{{.Block.Merkleroot}}</h2>
<h2>从格林尼治时间（1970-01-01 00:00:00）开始以秒为单位的区块时间:{{.Block.Time}}</h2>
<h2>从格林尼治时间（1970-01-01 00:00:00）开始以秒为单位的中间区块时间:{{.Block.Mediantime}}</h2>
<h2>随机数:{{.Block.Nonce}}</h2>
<h2>难度对应值:{{.Block.Bits}}</h2>
<h2>难度:{{.Block.Difficulty}}</h2>
<h2>预计产生该区块上链需要的哈希次数:{{.Block.Chainwork}}</h2>
<h2>上一个区块的哈希:{{.Previousblockhash}}</h2>
<h2>下一个区块的哈希:{{.Nextblockhash}}</h2>
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-user"></span>
    </div>
</div>

<script src="./assets/waifu-tips.js"></script>
<script src="./assets/live2d.js"></script>
<script type="text/javascript">initModel("assets/")</script>
</body>
</html>