<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetBlockChainInfo</title>
    <link rel="stylesheet" type="text/css" href="./css/right.css"/>
    <link rel="stylesheet" type="text/css" href="./css/waifu.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h2>区块链名称:{{.BlockChainInfo.Chain}}</h2>
<h2>已验证区块数量:{{.BlockChainInfo.Blocks}}</h2>
<h2>已验证区块头数量:{{.BlockChainInfo.Headers}}</h2>
<h2>最高区块的哈希:{{.BlockChainInfo.Bestblockhash}}</h2>
<h2>区块难度:{{.BlockChainInfo.Difficulty}}</h2>
<h2>最近区块之前的11个区块的中位时间:{{.BlockChainInfo.Mediantime}}</h2>
<h2>验证进度的估计值:{{.BlockChainInfo.Verificationprogress}}</h2>
<h2>活跃的链上的总工作量:{{.BlockChainInfo.Chainwork}}</h2>
<h2>区块是否处于修剪中:{{.BlockChainInfo.Pruned}}</h2>
<h2>有效的最高的区块:{{.BlockChainInfo.Pruneheight}}</h2>
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-user"></span>
    </div>
</div>

<script src="./assets/waifu-tips.js"></script>
<script src="./assets/live2d.js"></script>
<script type="text/javascript">initModel("assets/")</script>
</body>
</html>