<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetMiningInfo</title>
    <link rel="stylesheet" type="text/css" href="./css/right.css"/>
    <link rel="stylesheet" type="text/css" href="./css/waifu.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h2>当前的区块数:{{.MiningInfo.Blocks}}</h2>
<h2>当前的难度:{{.MiningInfo.Difficulty}}</h2>
<h2>为维持当前难度，全网每秒需要生成的哈希数量:{{.MiningInfo.Networkhashps}}</h2>
<h2>内存交易池中的交易数量:{{.MiningInfo.Pooledtx}}</h2>
<h2>当前所连接网络:{{.MiningInfo.Chain}}</h2>
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-user"></span>
    </div>
</div>

<script src="./assets/waifu-tips.js"></script>
<script src="./assets/live2d.js"></script>
<script type="text/javascript">initModel("assets/")</script>
</body>
</html>