<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetMemoryInfo</title>
    <link rel="stylesheet" type="text/css" href="./css/right.css"/>
    <link rel="stylesheet" type="text/css" href="./css/waifu.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h2>已使用字节数:{{.MemoryInfo.Locked.Used}}</h2>
<h2>空闲字节数:{{.MemoryInfo.Locked.Free}}</h2>
<h2>全部字节数:{{.MemoryInfo.Locked.ToTal}}</h2>
<h2>成功锁定字节数:{{.MemoryInfo.Locked.Locked}}</h2>
<h2>已分配内存块:{{.MemoryInfo.Locked.Chunks_used}}</h2>
<h2>空闲内存块:{{.MemoryInfo.Locked.Chunks_free}}</h2>
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-user"></span>
    </div>
</div>

<script src="./assets/waifu-tips.js"></script>
<script src="./assets/live2d.js"></script>
<script type="text/javascript">initModel("assets/")</script>
</body>
</html>