<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/right.css"/>
</head>
<body>
<form method="post" action="/label_address">
标签:<input type="text" name="label"/>
类型:<select name="type" class="select">
    <option value ="legacy" >legacy</option>
    <option value ="p2sh-segwit">p2sh-segwit</option>
    <option value="bech32">bech32</option>
</select>
<input type="submit" value="查询" class="button"/>
</form>
</body>
</html>