<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="./css/home.css"/>

</head>
<body>
    <div id="login_box">
        <h1>Bitconin Core</h1>
        <form method="post" action="/user_home">
        <div class="input_box">
            <input name="phone" type="text" placeholder="Username">
        </div>
        <div class="input_box">
            <input name="password" type="password" placeholder="Password">
        </div>
            <input class="loginButton" type="submit" value="Login" />
            <br>
            <a href="register.html"><input class="loginButton" type="button" value="Register" /></a>
    </form>
    </div>
</body>
</html>