h2 {
    color: #eeeeee;
}

font{
    color: white;
    font-size: large;
}
input{
    display:inline-block;
    margin-left: 10px;
    background-color: #E7EAED;
    border-radius: 5px;
    border: solid 1px #E7EAED;
}
.button{
    border-radius: 13px;
    outline: none;
    border: none;
    height: 25px;
    border: 0;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: cadetblue;
}
.select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: solid 1px #E7EAED;
    display:inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 5px;
}
option{
    text-align:center;
}